@{
    Layout="~/Layout/_SiteLayout.cshtml";
    Conexao c = new Conexao();
	Session.Clear();
}


<h1>Resumo de Venda</h1>
<p>Relatórios Gerenciais de Venda, Recarga e Compra X Venda</p>

            

