@{
    Layout="~/Layout/_SiteLayout.cshtml";   
	if(IsPost)
	{
        Session.Clear();
		//sessao
		Session["datainicialCom"]=Request.Form["datainicialCom"];
		Session["datafinalCom"]=Request.Form["datafinalCom"];
		Session["datainicialRef"]=Request.Form["datainicialRef"];
		Session["datafinalRef"]=Request.Form["datafinalRef"];
		Session["loja"]=Request.Form["loja"];
		if(Request["relatorio"].Equals("Relatorio")){
			Response.Redirect(@Href("~/ViewRelatorio"));
		} else
		{
			Response.Redirect(@Href("~/ViewGrafico"));
		}
	}

}

<h1>Comparativo de Vendas Por Se&ccedil&atildeo</h1>
    <div>
        <form method="post">
            <table style="border: 0px;" class="table">
                <tr>
                    <td style="font-size: 14px;">Período de Comparação:</td>
                    <td style="font-size: 14px;">De: <input type="date" name="datainicialCom" id="datainicialCom"/></td>
                    <td>Até:</td>
                    <td><input type="date" name="datafinalCom" id="datafinalCom" required/></td>
                </tr>
                <tr>
                    <td style="font-size: 14px;">Período de Referência:</td>
                    <td style="font-size: 14px;">De: <input type="date" name="datainicialRef" id="datainicialRef"/></td>
                    <td>Até:</td>
                    <td><input type="date" name="datafinalRef" id="datafinalRef" required/>
                    </td>                    
                </tr>
                <tr>
                    <td>Loja:</td>
                    <td>
                        <select id="loja" name="loja" required>
                            <option value="">Escolha a loja</option>
                            <option value="000000">Geral</option>
                            <option value="000001">Loja 1</option>
                            <option value="000002">Loja 2</option>
                            <option value="000003">Loja 3</option>
                            <option value="000004">Loja 4</option>
                            <option value="000006">Loja 6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="relatorio" id="relatorio" value="Relatorio" class="btn btn-medium btn-success" />
                    <input type="submit" name="relatorio" id="relatorio" value="Graficos" class="btn btn-medium btn-success" />
                    <a href="@Href("~/Default.cshtml")" class="btn btn-medium btn-success">Voltar</a> 
                </tr>
            </table>
        </form>
    </div>
